<div class="container">
  <h1 class="form-heading">login Form</h1>
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2>User Login</h2>
        <p>Please enter your username and password</p>
      </div>
      <form [formGroup]="profileform" (ngSubmit)="onSubmit(profileform.value)">
        <div class="form-group">
          <input type="text" class="form-control" id="inputusername" formControlName="username" placeholder="User name" />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="inputPassword" formControlName="password" placeholder="Password" />
        </div>
        <div class="forgot">
          <a href="reset.html">Forgot password?</a>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>