<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Well Come</h1>
    <p class="lead">To succeed in ecommerce you need three things: profitable, in-demand products to sell, the skills
      to market them, and the drive to succeed.</p>
    {{sdate | date :"yyyy/MM/dd"}} <br>
    {{stime | date:"HH:mm:ss"}}
  </div>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="!logged"><a class="nav-link"  href="#" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
            <li class="nav-item" *ngIf="logged" (click)="logOut()"><a class="nav-link"  href="#" ><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
        </ul>
      
    </form>
  </div>
</nav>